* {
    margin: 0px 5px;
    padding: 0px;
    background-origin: border-box;
}

body {
    font-family: sans-serif;
    font-size: 20px;
}

.container {
    height: 100vh;

}




.header {
    height: 10%;
    // border: 2px solid; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo {
        font-size: 4vw;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        gap: 15px;
        font-size: 2.5vw;


    }
}


.main {
    height: 80%;
    // border: 2px solid blue;
    display: flex;
    flex-direction: row;
}


.main .__image {
    background-image: url('../rs/Malik.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    margin: 0px;
    border-radius: 8px;
    background-position: left center;
    border-radius: 10% 20%;
    background-size: 100%;
}

.main .__text {
    width: 50%;
    // border: 2px solid;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .main__text {

        &-1,
        &-2,
        &-3,
        &-4 {
            font-size: 5vw;
        }
    }

}





.footer {
    height: 10%;
    // border: 10px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
    margin-right: 20%;

    [class^="footer__"] {
        img {
            width: 5.3vw;
        }
    }
}



//! for the mobile image :
@media(max-width:650px) {
    .header {
        align-items: center;
        justify-content: center;

        &__logo {
            font-size: 40px;
            
        }

        &__menu {
            display: none;
        }
    }

    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .__image {
            width: 200px;
            height: 200px;
            border-radius: 100%;
            background-image: center;
        }

        &__text{
            text-align: center;
           
            &-1 {
              display: none;
              
            }

            &-2{
                margin-top: 15%;
            }

        }
    }

    .footer {
        justify-content: center;
        margin: 0px;

        [class^="footer__"] {
            img {
                width: 45px;
                height: 45px;
                 
            }
        }
    }
}